<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<p> Dear {{ username }},</p>
	<P>  Your booking is cancelled successfully. Details are as Follow:</P>
	<ul>
		<li>Movie Name: {{ movie }}</li>
		<li>Duration: {{ duration }}</li>
		<li>Description: {{ description }}</li>
		<li>Theater: {{ theater }}-{{ city }}</li>
		<li>Seats Cancelled: {{ seats }}</li>
	</ul>
	<p>Your amount will be refunded SOON</p>
</body>
</html>