{% extends "movies/base.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <small class="text-muted">Duration: {{ ticket.screening.movie_id.duration_min }}</small>
            <small class="text-muted">Duration: {{ ticket.screening.movie_id.duration_min }}</small>
        </div>
        <h2>
            Title: {{ ticket.screening.movie_id.title }}</h2>
        <p class="article-content">Cost: ₹{{ ticket.screening.cost }}/-</p>
          <form action="{% url 'done_cancellation' ticket.pk %}" method="POST">
              {%csrf_token%}
              <label>Number of Seats Required:</label>
              <input type="number" name="ticket_cancel" min="1" max={{ ticket.no_of_seats }} step="1">
              <input type="submit" class="btn-light border btn-sm"  value="Confirm Cancellation">


              <a href="{% url 'mov_booking'%}" class="btn btn-primary">Cancel</a>
          </form>
      </div>
    </article>
{% endblock content %}
