{% extends "movies/base.html" %}
{% block content %}
     <div class="col-md-8">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    </div>
    {% for screen in screening %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              
              <small class="text-muted">Movie: {{ screen.movie_id }}</small>
            </div>
            <p class="article-content">Available Seats: {{ screen.available_seats }}</p>
            <p class="article-content">Theatre: {{ screen.theatre_id }}</p>
            <p class="article-content">Price: ₹{{ screen.price }}/- per seat</p>
            <p class="article-content">Time: {{ screen.time }}</p>
            <form action="{% url 'finalbook' screen.pk %}" method="POST">
              {%csrf_token%}
              <label>Number of Seats Required:</label>
              <input type="number" name="no_of_seats" min="1" max={{ screen.available_seats }} step="1">
              <input type="submit" class="btn btn-primary"  value="Book Now">


              <a href="{% url 'mov_booking'%}" class="btn btn-primary">Cancel</a>



            </form>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
