{% extends "movies/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>
        {{ user.username }}
    </h1>
    {% for ticket in tickets %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">Duration: {{ ticket.screening.movie_id.duration_min }}</small>
                <small class="text-muted">Duration: {{ ticket.screening.movie_id.duration_min }}</small>
            </div>
            <h2><a class="article-title" href="{#}">
                Title: {{ ticket.screening.movie_id.title }}</a></h2>
            <p class="article-content">Cost: ₹{{ ticket.screening.cost }}/-</p>
          </div>
        </article>
    {% endfor %}

{% endblock content %}
